<form name="user_new" id="user_new" action="/admin/users/new" method="post">
  <table>
    <tr>
      <td>Username</td>
      <td>
        <input type="text" name="username" id="username">
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input type="password" name="password" id="password">
      </td>
    </tr>
    <tr>
      <td>Account Type</td>
      <td>
        <select name="account_type" id="account_type">
          <option value="">Select</option>
          <option value="0">User</option>
          <option value="1">Admin</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Create"></td>
    </tr>
  </table>
</form>