<h2>Login</h2>
<br />
<% if flash[:error] %>
  <p class="flash error"><%= flash[:error] %></p>
<% end %>
<form name="login" id="login" action="/login" method="post">
  <table>
    <tr>
      <td>Username</td>
      <td><input type="text" name="username" id="username"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="password" id="password"></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Login">
      </td>
    </tr>
  </table>
</form>